@import "tailwindcss";

:root {
    --light-grey-border: #ccc;
    --title-bar-colour: #f9f9f9;
    --translucent-white: rgba(255, 255, 255, 0.9);
}

#inner-content {
    width: 100%;
    height: 93vh;
    display: flex;
    min-height: 0;
}

#title-bar {
    background: var(--title-bar-colour);
    color: black;
    height: 7vh;
    padding: 0.5em 1em 0.5em 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-grey-border);
}

#main-title {
    font-size: 1.3em;
    font-weight: bold;
}

#content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#info-panel {
    width: 25%;
    padding: 0.5em;
    height: 100%;
    overflow-y: auto;
    scrollbar-gutter: stable;
    border-left: 1px solid var(--light-grey-border);
}

#info-panel-title {
    font-size: 1em;
    font-weight: bold;
}

#title-bar-buttons-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#website-info-box {
    width: 15em;
    padding: 0.5em;
    border: 1px solid var(--light-grey-border);
    border-radius: 6px;
}

#info-panel-hint {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#info-panel-hint-text {
    font-size: 1em;
    font-weight: bold;
}

.grouped-variables-accordion {
    border: 1px solid var(--light-grey-border);
}

.grouped-variables-accordion-summary {
    background-color: var(--title-bar-colour);
    min-height: 5em;
}

#stats-map {
    width: 75%;
    position: relative;
}

#map-filter {
    position: absolute;
    top: 2em;
    left: 2em;
    width: 20em;
    padding: 0.5em;
    border: 1px solid var(--light-grey-border);
    border-radius: 6px;
    background-color: var(--translucent-white);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#map-variable-filter {
    background-color: inherit;
}

#map-granularity-filter {
    background-color: inherit;
}

#map-colour-indicator-box {
    width: 100%;
}

#map-colour-indicator {
    height: 12px;
    border-radius: 1em;
}

#map-info-box {
    position: absolute;
    bottom: 2em;
    right: 2em;
    width: 12em;
    padding: 0.5em;
    border: 1px solid var(--light-grey-border);
    border-radius: 1em;
    background-color: var(--translucent-white);
}